@{
    Layout = "_Layout";
}

<div class="container my-5 d-flex justify-content-between">
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal" onclick="showModal()">
        Contattami
    </button>

    <div class="modal fade" id="createModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manda un messaggio</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <form class="d-flex flex-column" method="post">
                        <div class="mb-2">
                            <label for="email" class="form-label">Email</label>
                            <input class="form-control" type="email" name="email" id="email" placeholder="Inserisci la tua Email" required>
                        </div>
                        <div class="mb-2">
                            <label for="title" class="form-label">Titolo</label>
                            <input class="form-control" type="text" name="title" id="title" placeholder="Inserisci un titolo" required>
                        </div>
                        <div class="mb-2">
                            <label for="text" class="form-label">Messaggio</label>
                            <textarea class="form-control" name="text" id="text" placeholder="Inserisci il testo del tuo messaggio" required></textarea>
                        </div>
                    </form>

                </div>
                <div class="modal-footer" id="modalBtn">
                    <button type="button" class="btn btn-secondary"  onclick="closeModal()">Close</button>
                    <button type="submit" class="btn btn-primary" id="send" onclick="sendMessage()">Invia</button>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></div>
        <input type="text" class="form-control" id="search_box" placeholder="Cerca foto per titolo">
    </div>
</div>



<div class="container mb-5 mt-3">

    <div id="row-empty" class="row d-none mb-4">
        <h3>Non ci sono foto da mostrare</h3>
    </div>

    <div id="row-full" class="row row-cols-2 gy-3 mb-4">
    </div>

</div>


@section Scripts{

    <script type="text/javascript">

        loadPhotos();

        document.getElementById("search_box").addEventListener('keyup', searchPhotos)

        function searchPhotos() {
            let searchString = document.getElementById("search_box").value;

            loadPhotos(searchString);
        }

        function loadPhotos(searchParam) {
            axios.get('/api/Photos/GetPhotoByName', {
                params: {
                    search: searchParam
                }
            }).then((res) => {

                console.log(res)

                let rowEmpty = document.getElementById("row-empty");
                let rowFull = document.getElementById("row-full");
                let category = document.getElementById("category");

                if (res.data.length == 0) {
                    rowEmpty.classList.remove("d-none");
                    rowFull.classList.add("d-none");
                } else {
                    rowEmpty.classList.add("d-none");
                    rowFull.classList.remove("d-none");

                    rowFull.innerHTML = "";

                    res.data.forEach(photo => {
                        let categoryName = photo.categories.map(categories => categories.name);
                        rowFull.innerHTML +=
                            ` <div class="col">

                                <div class="wrapper text-white d-flex justify-content-center">
                                    <img class="image-fluid" src="${photo.imageSrc}" alt="${photo.title}">

                                    <div class="description p-1 text-center">
                                        <h6 class="title fw-bold mb-0">${photo.title}</h6>
                                        <p class="mb-0 fs-6">${photo.description}</p>
                                        <span class="fs-6">Categoria: ${categoryName} </span>
                                    </div>
                                </div>
        
                            </div>`

                    })
                }
            })
        }

        // modal

        let modal =
            new bootstrap.Modal(document.getElementById('createModal'));

        function showModal() {
            modal.show();
        }

        function closeModal() {
            modal.hide();
        }

        //messaggi

        function sendMessage(){
         
            let formTitle = document.getElementById("title");
            let formText = document.getElementById("text");
            let formEmail = document.getElementById("email");

            let data = {
                Title: formTitle.value,
                Text: formText.value,
                Email: formEmail.value
            }

            axios.post("/api/Messages/Create", data).then((res) => {

               

                formTitle.value = "",
                formText.value = "",
                formEmail.value = ""

                let modalFooter = document.getElementById("modalBtn").innerHTML = "Messaggio inviato con successo!";
            })
        }
    </script>
}